* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}

:root {
    --primary: rgb(44, 189, 246);
}

body {
    background: black;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}